<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Pitch_A_Game</title>
    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- d3 JavaScript -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <!-- Local Stylesheet-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <nav
    style="background: rgb(101,52,150) !important"
    class="navbar navbar-expand-lg navbar-dark bg-secondary; col-sm-12">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/application"><strong>Pitch Your Own Game</strong></a>
        </li>
      </ul>
    </div>
  </nav>
    <div class="conatiner-fluid" style="break-inside: avoid-column;">
        <div class="row">
            <div class="col-sm-1" style="background-image: url('https://media.indiumgames.com/medialibrary/2014/07/MakingMap1.png'); background-position: left;">
            </div>
            <div class="col-sm-10" style="break-inside: avoid-column;">
                <br>
                <div class="row" style="justify-content: center; min-width: fit-content;"> 
                    <h2 style="justify-content: left; text-align: center;">Describe Your Game Idea...</h2>
                </div>
                <br>
                <div class="row" style="justify-content: center; text-align: left;">
                    <form action="/application" method="POST">
                        <p class="var-heading">Console Family:</p>
                        <p class="description-text">Add the family of console your game would be playerd on by generation.</p>
                        <select id="consolesDropdown" class="btn btn-secondary dropdown-toggle" name="consoles">
                            <option value="None Specified"></option>
                            <!--Append Consoles here using d3-->            
                        </select>
                        <br>
                        <p class="var-heading">Genres:</p>
                        <p class="description-text">Think of the type of game. Ex. Adventure, Platform, Shooter</p>
                        <select id="genresDropdown" class="btn btn-secondary dropdown-toggle" name="genres">
                            <option value="None Specified"></option>
                        </select>
                        <p class="var-heading">Themes:</p> 
                        <p class="description-text">Think of the style/setting of game. Ex. Action, Mystery, Sci-Fi</p>
                        <select id="themesDropdown" class="btn btn-secondary dropdown-toggle" name="themes">
                            <option value="None Specified"></option>
                        </select>
                        <p class="var-heading">Player Perspective:</p> 
                        <p class="description-text">Think of the player's perspective in the game. Ex. First-Person, Third-Person</p>
                        <select id="perspectiveDropdown" class="btn btn-secondary dropdown-toggle" name="perspectives">
                            <option value="None Specified"></option>
                        </select>
                        <p class="var-heading">Play Modes:</p>
                        <p class="description-text">If your game is going to be a sequel to series of games, you can add that here.</p>
                        <select id="playModesDropdown" class="btn btn-secondary dropdown-toggle" name="playModes">
                            <option value="None Specified"></option>
                        </select>
                        <p class="var-heading">Series:</p>
                        <p class="description-text">If your game is going to be a sequel to series of games, you can add that here.</p>
                        <select id="seriesDropdown" class="btn btn-secondary dropdown-toggle" name="series">
                            <option value="None Specified"></option>
                        </select>
                        <p class="var-heading">Game Description</p>
                        <p class="description-text">Describe the storyline or background of your game in a few sentences.</p>
                        <textarea name="text" id="descTextArea" cols="50" rows="10"></textarea>
                        <br>
                        <br>
                        <input type="submit" style="text-align: center;">
                        <br>
                        <br>
                        <p style="text-align: center;">Created by Team Splinter</p>
                    </form>
                </div>
            </div>
            <div class="col-sm-1" style="background-image: url('https://media.indiumgames.com/medialibrary/2014/07/MakingMap1.png'); background-position: right; break-inside: avoid-column;">
            </div>
        </div>
    </div>
  </body>
  <script type="text/javascript" src="{{url_for('static', filename='js/dropdownFunctions.js')}}"></script>
  <script id="locations" type="text/javascript">
    var output = dataPull({{ data | tojson }});
    systemsDropdown(output);
    genresDropdown(output);
    themesDropdown(output);
    perspectivesDropdown(output);
    playModesDropdown(output);
    seriesDropdown(output);
 </script>
</html>
